## imports

In [2]:
import pandas as pd
import numpy as np
from dateutil import parser
import os

## load data

In [3]:
file_path = '../raw_data/ds_salaries.csv'
df = pd.read_csv(file_path)
df.head()

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L

# Clan salary

In [ ]:
def clean_salary(salary):
    if pd.isnull(salary) or salary in ['Not Disclosed', 'N/A', '']:
        return np.nan
    
    salary = str(salary).replace('000', 'K').replace(',', '')
    return float(salary)
df